$blue: #0556f3;
$purple: #6501e5;
$purple-dark: #4f03af;
$red: #dc2626 !default;
$white: #ffffff !default;
$black: #000000 !default;
$green: #179b53 !default;
$yellow: #f97316 !default;

$primary: #442ce2 !default;
$secondary: #0369a1 !default;

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
